[Unit]
Description=software_portal-uWSGI-instance
After=network.target postgresql-14.service

[Service]
User=root
Group=nginx
WorkingDirectory=/opt/software_portal
Environment="PATH=/opt/software_portal/venv/bin"
ExecStart=/opt/software_portal/venv/bin/uwsgi --ini /opt/software_portal/uwsgi/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target